.atom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}

.atom-svg {
  max-width: 300px;
  /* width: 100%; */
  height: auto;
  display: block;
}

.orbit {
  transform-origin: 100px 100px;
}

.orbit1 {
  animation: rotate-orbit1 6s linear infinite;
  transform: rotate(0deg);
}
.orbit2 {
  animation: rotate-orbit2 8s linear infinite reverse;
  transform: rotate(60deg);
}
.orbit3 {
  animation: rotate-orbit3 10s linear infinite;
  transform: rotate(120deg);
}

@keyframes rotate-orbit1 {
  100% { transform: rotate(360deg); }
}
@keyframes rotate-orbit2 {
  100% { transform: rotate(420deg); } /* 60 + 360 */
}
@keyframes rotate-orbit3 {
  100% { transform: rotate(480deg); } /* 120 + 360 */
} 