.background-atom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 700px;
  min-width: 220px;
  height: auto;
  opacity: 0.15;
  pointer-events: none;
  /* background: transparent; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: -1; */
}

.background-atom-svg {
  width: 100%;
  height: auto;
  filter: blur(0.5px);
}

.orbit {
  transform-origin: 100px 100px;
}
.orbit1 {
  animation: rotate-orbit1 6s linear infinite;
  transform: rotate(0deg);
}
.orbit2 {
  animation: rotate-orbit2 8s linear infinite reverse;
  transform: rotate(60deg);
}
.orbit3 {
  animation: rotate-orbit3 10s linear infinite;
  transform: rotate(120deg);
}

@keyframes rotate-orbit1 {
  100% { transform: rotate(360deg); }
}
@keyframes rotate-orbit2 {
  100% { transform: rotate(420deg); }
}
@keyframes rotate-orbit3 {
  100% { transform: rotate(480deg); }
} 